.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

th, td {
    padding: 1rem 2rem;
    text-align: center;
}


th, td, table {
    border-bottom: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
}

tr:hover {
    background-color: rgb(243, 243, 243);
}

.cart-actions {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.cart-actions button {
    cursor: pointer;

}