.filterHeading {
    text-align: start;
    font-size: 1.3rem;
}

.categoriesList {
    padding: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.categoryItem {
    list-style-type: none;
    color: rgb(50, 50, 50);
    display: flex;
    justify-content: start;
    gap: 0.5rem;
}




.searchContainer > input {
    font-size: 1.1rem;
    padding: 0.2rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid black;
}

.searchContainer > button {
    font-size: 1.1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.3rem;
    background-color: green;
    border: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
}



.priceContainer {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 300px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: gray;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: orange;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: rgb(50, 50, 50);
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 300px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
