.order-items-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  opacity: 1;
  background-color: #ffffff
  
}

.order-items-table th,
.order-items-table td {
  border: 1px solid #52e9f4;
  padding: 10px;
  text-align: left;
}

.order-items-table th {
  background-color: #b3f1df;
  font-weight: bold;
}

.order-items-table tr:nth-child(even) {
  background-color: #ffffff;
}

.order-items-table tr:hover {
  background-color: #e0e0e0;
  transition: opacity 0.5s ease 0s;
  opacity: 0.70;
}

h2 {
  font-family: Arial, sans-serif;
  color: #000000;
}

.user-orders-container {
  max-width: 900px;
  margin: 40px auto; 
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.user-orders-container p {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-top: 50px;
}

