.order-items-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
    opacity: 1;
  
}

.order-items-table th,
.order-items-table td {
  border: 1px solid #52e9f4;
  padding: 10px;
  text-align: left;
}

.order-items-table th {
  background-color: #b3f1df;
  font-weight: bold;
}

.order-items-table tr:nth-child(even) {
  background-color: #f9f6f683;
}

.order-items-table tr:hover {
  background-color: #e0f7fa;
  transition: opacity 0.5s ease 0s;
  opacity: 0.70;
}

h2 {
  font-family: Arial, sans-serif;
  color: #000000;
}
