html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* make the container at least fill the screen */
}

.main-content {
  flex: 1; 
  max-width: 1280px;
<<<<<<< HEAD
  /* margin: 0 auto; */
=======
  margin: 0 auto;
>>>>>>> 58f3079 (just displayed a table)
  padding: 2rem;
  text-align: center;

}
/* 
table, td, th {
  border: 1px solid;
  text-align: center;
}
table{
  width: fit-content; 
  border-color: white;
  border-radius: 10px;
  background-color: blueviolet;
  border-collapse: collapse;

} */
